@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
	font-family: "Inter", sans-serif;
	font-weight: lighter;
	background-color: #222;
}

h1, h3, p {
	text-align: center;
	color: #ccc;
}

h3 {
	font-size: 16pt;
	font-weight: lighter;
}

