@font-face {
  font-family: 'Commissioner';
  src: url('fonts/Commissioner_Medium.off') format('woff2');
}

@font-face {
  font-family: 'Derani';
  src: url('fonts/Derani.off') format('woff2');
}

.toaq {
  color: violet;
  font-family: "Commissioner", sans-serif;
}

.derani {
  font-family: "Derani";
}
